@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';

.primary {
  color: white;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rodape-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

a,
a:hover,
a:focus {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}
